<!--
Filename: nav.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/01/2021
-->

<div class="n-nav">
	<ul>
		<li>Z</li>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About Me</a></li>
		<li><a href="/project">Project</a></li>
		<li><a href="/service">Service</a></li>
		<li><a href="/contactMe">Contact Me</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
</div>