<!--
Filename: about.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/01/2021
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/public/css/style.css" rel="stylesheet" />
		<title>About</title>
	</head>
	<body>
		<div class="about">
			
			<%- include('../components/nav.ejs') %>
			
			<p  class="n-title">About</p>
			<div class="about-content">
				
				<img src="../../public/img/myPhoto.jpg" alt="myPhoto" />
				<div>
					<h1>Zicong Liang</h1>
					<p>My name is Zicong Liang, this is my third semester in Centennial College.</p>
					<p>I am currently in Software Engineering Technician (3408) program.</p>
					<p>Fried chickenis my absolute favorite food, although eating too much will make my throat sore.</p>
					<p>This pandemic is suffering for everybody, so I hope we all can follow rules from government, and let's fight for this virus and get well as soon as possible.</p>
					
					<a href="/public/resumebutton.pdf" target="_bank"><button>My resume</button></a>
				</div>
				
			</div>
			
			
			
			
		</div>
		<script src="/public/js/index.js"></script>
	</body>
</html>