<!--
Filename: contactsUpdate.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/19/2021
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/public/css/style.css" rel="stylesheet" />
		<title>Contacts Update</title>
	</head>
	<body>
		<div class="contactsUpdate">
			<%- include('../components/nav.ejs') %>
			
			<p  class="n-title">Contacts Update</p>
			
			<div  class="contactsUpdate-form">
				<li><a href="/contactsManage">cancel</a></li>
				 <li><span>Name</span><input id="n-name" type="text" /></li>
				 <li><span>Contact Number</span><input id="n-phone" type="text" /></li>
				 <li><span>Email Address</span><input id="n-email" type="text" /></li>
				 <li><button onclick="update()">Update</button><button onclick="del()" style="background: #f00;">Delete</button></li>
				 <li></li>
			</div>
		</div>
		<script src="/public/js/index.js"></script>
		<script src="/public/js/contactsUpdate.js"></script>
	</body>
</html>