<!--
Filename: home.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/01/2021
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/public/css/style.css" rel="stylesheet" />
		<title>Home</title>
	</head>
	<body>
		<div class="home">
			
			<%- include('../components/nav.ejs') %>
			
			
			<div class="home-img">
				<h1>Welcome To</h1>
				<h2>Zico's personal portfolio page</h2>
				<h2>Our mission at Zico's is sharing my knowledge with energy, cleverness and wit.</h2>
			</div>
			
			
			
		</div>
		<script src="/public/js/index.js"></script>
	</body>
</html>