<!--
Filename: project.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/01/2021
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/public/css/style.css" rel="stylesheet" />
		<title>Project</title>
	</head>
	<body>
		<div class="project">
			
			<%- include('../components/nav.ejs') %>
			
			<p class="n-title">Project</p>
			<ul class="project-list">
				<li>
					<img src="/public/img/indexImg.jpg"/>
					<div class="project-list-right">
						<h3>First Personal Index Page<span>2021-01-15</span></h3>
						<h4>This is my first project using html</h4>
						<p>1. Upload banner and image to html</p>
						<p>2. Upload words with bullet list</p>
						<p>3. Create hyperlink</p>
					</div>
				</li>
				
				<li>
					<img src="/public/img/cSharp.jpg"/>
					<div class="project-list-right">
						<h3>First C# Project<span>2020-03-01</span></h3>
						<h4>This is my first project with C#</h4>
						<p>1. Learning if statements</p>
						<p>2. Learning for loops</p>
					</div>
				</li>
				
				<li>
					<img src="/public/img/visio.jpg"/>
					<div class="project-list-right">
						<h3>COMP225 - SRS Document<span>2021-08-13</span></h3>
						<h4>This is my group project in COMP225 class</h4>
						<p>1. Create SRS document</p>
						<p>2. Using Visio</p>
						<p>3. Drawing Swimlane Diagram</p>
						<p>4. Drawing Class Diagram</p>
					</div>
				</li>
				
			</ul>
			
			
			
			
		</div>
		<script src="/public/js/index.js"></script>
	</body>
</html>