<!--
Filename: service.ejs
Student: Zicong Liang
Student#: 301068166
Date: 10/01/2021
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/public/css/style.css" rel="stylesheet" />
		<title>Service</title>
	</head>
	<body>
		<div class="service">
			
			<%- include('../components/nav.ejs') %>
			
			<p  class="n-title">Service</p>
			<ul class="service-list">
				<li>
					<img src="/public/img/generalP.jpg" />
					<h2>General Programming</h2>
					<p>Efficient<span>|</span>Speciality<span>|</span>Beautiful</p>
				</li>
				
				
				<li>
					<img src="/public/img/webDevelop.jpg" />
					<h2>Web Development</h2>
					<p>One stop service</p>
				</li>
				
				
				<li>
					<img src="/public/img/mobileApp.jpg" />
					<h2>Mobile Applications</h2>
					<p><a href="/contactMe"><button>Contact Me</button></a></p>
				</li>
				
				
			</ul>
			
			
			
		</div>
		<script src="/public/js/index.js"></script>
	</body>
</html>